package views

import (
  "app/models"
)

templ posts(posts []models.Post) {
	{! layout("Posts", postsTemplate(posts)) }
}

templ postsTemplate(posts []models.Post) {
	<div>
		for _, p := range posts {
			<div>
        <div>{ p.Name }</div>
				<div>{ p.Author }</div>
			</div>
		}
	</div>
}
